{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]> <html lang="fr" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<html lang="fr">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>AIR DDM Data-driven Marketing</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="AIR DDM Data-driven Marketing est une agence conseil hybride communication data experte en marketing client B2B disposant de ses propres plateformes marketing intégrées. AIR DDM accompagne les marques B2B à améliorer leur vision client et à mettre en place des stratégies de marketing piloté par la donnée, plus efficaces parce que basées sur le profil, le comportement, le métier et le potentiel de chaque client." name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
        <link href="{% static 'plugins/socicon/socicon.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/animate/animate.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN: BASE PLUGINS  -->
        <link href="{% static 'plugins/revo-slider/css/settings.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/revo-slider/css/layers.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/revo-slider/css/navigation.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/owl-carousel/assets/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/fancybox/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/slider-for-bootstrap/css/slider.css' %}" rel="stylesheet" type="text/css" />
        <!-- END: BASE PLUGINS -->
        <!-- BEGIN THEME STYLES -->
        <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/components.css' %}" id="style_components" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/themes/default.css' %}" rel="stylesheet" id="style_theme" type="text/css" />
        <link href="{% static 'css/themes/airddm.css' %}" rel="stylesheet" id="style_theme" type="text/css" />
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
        {% block extrahead %}
        {% endblock %}
         <script>
        // Copyright 2014-2015 Twitter, Inc.
        // Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
          var msViewportStyle = document.createElement('style')
          msViewportStyle.appendChild(
            document.createTextNode(
              '@-ms-viewport{width:auto!important}'
            )
          )
          document.querySelector('head').appendChild(msViewportStyle)
        }
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script type="text/javascript" src="{% static 'js/tarteaucitron/tarteaucitron.js' %}"></script>
        <script type="text/javascript">
        var tarteaucitronForceLanguage = 'fr';
        tarteaucitron.init({
            "hashtag": "#tarteaucitron",  /* Ouverture automatique du panel avec le hashtag */
            "highPrivacy": true, /* désactiver le consentement implicite (en naviguant) ? */
            "orientation": "bottom", /* le bandeau doit être en haut (top) ou en bas (bottom) ? */
            "adblocker": false, /* Afficher un message si un adblocker est détecté */
            "showAlertSmall": false, /* afficher le petit bandeau en bas à droite ? */
            "cookieslist": true, /* Afficher la liste des cookies installés ? */
            "removeCredit": true /* supprimer le lien vers la source ? */ });
        </script>
        <script type="text/javascript">
            tarteaucitron.user.gajsUa = 'UA-78835752-1';
            tarteaucitron.user.gajsMore = function () { /* add here your optionnal _ga.push() */ };
            (tarteaucitron.job = tarteaucitron.job || []).push('gajs');
        </script>
       <script type='application/ld+json'>
        {
        "@context": "http://www.schema.org",
        "@type": "Corporation",
        "name": "AIR DDM",
        "url": "http://airddm.com",
        "logo": "{% static 'img/layout/logos/logo-airddm.png' %}",
        "description": "AIR DDM Data-driven Marketing est une agence conseil hybride communication data experte en marketing client B2B disposant de ses propres plateformes marketing intégrées. AIR DDM accompagne les marques B2B à améliorer leur vision client et à mettre en place des stratégies de marketing piloté par la donnée, plus efficaces parce que basées sur le profil, le comportement, le métier et le potentiel de chaque client.",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "24 rue Joannès Masset",
            "addressLocality": "Lyon",
            "postalCode": "69009",
            "addressCountry": "France",
            "telephone" : " +33-4-78-82-27-68"
        },
        "email": "contact@airddm.com",
            "sameAs": [
            "https://www.facebook.com/airddm",
            "https://twitter.com/airddm",
            "https://www.youtube.com/channel/UCAfiUIWslT4GDqt77-lw26A",
            "https://www.linkedin.com/company/airddm",
            "https://plus.google.com/117053991243308119360"
            ]
        }
        </script>
        <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
            <!-- BEGIN: LAYOUT/HEADERS/HEADER-ONEPAGE -->
            <!-- BEGIN: HEADER -->
            {% include 'website/layouts/__i_menu.html' %}
        <!-- END: HEADER -->
        <!-- END: LAYOUT/HEADERS/HEADER-ONEPAGE -->
        <!-- BEGIN: PAGE CONTAINER -->
        {% block content %}
        {% endblock %}
        {% block footer %}
        <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-2 -->
        <a name="footer"></a>
        <footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
            <div class="c-prefooter">
                <div class="container ">
                    <div class="row ">
                        <div class="col-xs-12 col-md-3">
                            <div class="c-container c-first c-reset ">
                                <div class="c-content-title-1  c-font-grey-3">
                                    <h3 class="c-font-uppercase c-font-bold c-font-white">A PROPOS</h3>
                                        AIR DDM est une agence hybride communication / data dédiée au B2B, disposant de sa propre plateforme logicielle pour le déploiement de programmes de Marketing Client.
                                </div>
                                <ul class="c-links c-margin-b-20 c-margin-t-20">
                                    <li>
                                        <a href="#features" class="c-font-grey-3">L’Agence</a>
                                    </li>
                                    <li>
                                        <a href="" data-toggle="modal" data-target="#infosLegales" class="c-font-grey-3">Infos légales</a>
                                    </li>
                                    <li>
                                        <a href="" data-toggle="modal" data-target="#cookies" class="c-font-grey-3">Cookies</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-sm-4 col-sm-offset-0 col-md-3">
                            <div class="c-container c-reset ">
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold c-font-white">Lyon</h3>
                                </div>
                                <ul class="c-address">
                                    <li class="c-font-grey-3">
                                        <i class="icon-pointer c-theme-font"></i> 24 rue Joannès Masset<br/>69009 Lyon<br/>(France)
                                    </li>
                                    <li class="c-font-grey-3">
                                        <i class="icon-call-end c-theme-font"></i> +33 (4) 78 82 27 68
                                    </li>
                                    <li class="c-font-grey-3">
                                        <i class="icon-envelope c-theme-font"></i> <a href="mailto:contact@airddm.com" class="c-font-grey-3">contact@airddm.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-sm-4 col-sm-offset-0 col-md-3">
                            <div class="c-container c-reset ">
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold c-font-white">MONTPELLIER</h3>
                                </div>
                                <ul class="c-address">
                                    <li class="c-font-grey-3">
                                        <i class="icon-pointer c-theme-font"></i> 113 Quai Jean Péridier<br/>34070 Montpellier<br/>(France)
                                    </li>
                                    <li class="c-font-grey-3">
                                        <i class="icon-call-end c-theme-font"></i> +33 (4) 78 82 27 68
                                    </li>
                                    <li class="c-font-grey-3">
                                        <i class="icon-envelope c-theme-font"></i> <a href="mailto:contact@airddm.com" class="c-font-grey-3">contact@airddm.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-sm-4 col-sm-offset-0 col-md-3">
                            <div class="c-container c-reset ">
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold c-font-white">RENNES</h3>
                                </div>
                                <ul class="c-address">
                                    <li class="c-font-grey-3">
                                        <i class="icon-pointer c-theme-font"></i>40 rue du Bignon<br/>35510 Cesson-Sévigné<br/>(France)
                                    </li>
                                    <li class="c-font-grey-3">
                                        <i class="icon-call-end c-theme-font"></i> +33 (2) 23 62 37 32
                                    </li>
                                    <li class="c-font-grey-3">
                                        <i class="icon-envelope c-theme-font"></i> <a href="mailto:contact@airddm.com" class="c-font-grey-3">contact@airddm.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="c-container c-first c-reset ">
                                <ul class="c-socials">
                                    <li class="c-font-grey-3">
                                        <a href="https://www.facebook.com/airddm" class="socicon-btn socicon-facebook tooltips" target="_blank"></a>
                                    </li>
                                    <li class="c-font-grey-3">
                                        <a href="https://twitter.com/airddm"  class="socicon-btn socicon-twitter tooltips" target="_blank"></a>
                                    </li>
                                    <li class="c-font-grey-3">
                                        <a href="https://www.youtube.com/channel/UCAfiUIWslT4GDqt77-lw26A" class="socicon-btn socicon-youtube tooltips" target="_blank"></a>
                                    </li>
                                    <li class="c-font-grey-3">
                                        <a href="https://www.linkedin.com/company/airddm" class="socicon-btn socicon-linkedin tooltips" target="_blank"></a>
                                    </li>
                                    <li class="c-font-grey-3">
                                        <a href="https://plus.google.com/117053991243308119360" class="socicon-btn socicon-google tooltips" target="_blank"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-postfooter">
                <div class="container">
                        <p class="c-font-oswald c-font-regular c-font-14">
                            <span class="c-font-white">2017 © AIR DDM</span> Data-Driven Marketing
                        </p>
                         <div id="form_error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="error-form" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content c-square">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="error-form">Oups ! Votre message n’a pas été envoyé.</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Merci de bien vouloir compléter tous les champs requis.<br/> Ils sont indispensables au traitement de votre demande.</p>
                                        <p> Bien cordialement,</p>
                                        <p>Toute l’équipe AIRDDM</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <div id="cv_success" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="succes-form" aria-hidden="true" style="display:none">
                            <div class="modal-dialog">
                                <div class="modal-content c-square">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="succes-form">Bonjour, Votre candidature a bien été envoyée.</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Nous allons y donner suite très rapidement.</p>
                                        <p>Bien cordialement,</p>
                                        <p>Toute l’équipe AIRDDM</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase"  data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <div id="form_success" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="succes-form" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content c-square">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="succes-form">Bonjour, Votre message a bien été envoyé.</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Nous allons y donner suite très rapidement.</p>
                                        <p>Bien cordialement,</p>
                                        <p>Toute l’équipe AIRDDM</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase"  data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    <div id="infosLegales" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content c-square">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">INFOS LEGALES</h4>
                                </div>
                                <div class="modal-body">
                                    <p> Ce site est édité par la société AIR DDM Data-driven Marketing<br/>
                                        SAS au capital de 20.000 €<br/>
                                        SIRET 792 117 186 00025<br/>
                                        TVA intra communautaire : 77 792 117 186</p>
                                    <p><b>Siège social : </b></p>
                                    <p>24 rue Joannès Masset<br/>
                                    Immeuble Les Passerelles<br/>
                                    69009 Lyon (France)</p>
                                    <p>Direction de la publication : <a href="mailto:contact@airddm.com">contact@airddm.com</a></p>
                                    <p>Ce site est hébergé par OVH<br/>
                                      SIRET 424 761 419 00045<br/>
                                     Siège social :<br/>
                                     2 rue Kellermann<br/>
                                     59100 Roubaix (France)<br/>
                                    </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <div id="cookies" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content c-square">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">POLITIQUE D’UTILISATION DES COOKIES SUR LE SITE AIRDDM.COM</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="c-font-bold">Protection des données personnelles</p>
                                            <p>Experte en Marketing Client et en technologies et services liés au data-driven marketing, AIR DDM met la protection des données et le respect de la vie privée au premier rang de ses valeurs d’entreprise. Notre agence soutient les initiatives en faveur de la transparence vis à vis des utilisateurs sur la collecte et le traitement des données personnelles et l’usage des cookies sur Internet.</p>
                                            <p class="c-font-bold">Qu’est-ce qu’un cookie ?</p>
                                            <p>Un cookie est un petit fichier texte susceptible d’être enregistré, sous réserve de vos choix, dans un espace dédié du disque dur de votre terminal (ordinateur, tablette ou smartphone), à l’occasion de la consultation d’un service en ligne grâce à votre logiciel de navigation.<br/>
                                            Un fichier cookie permet à son émetteur d’identifier le terminal dans lequel il est enregistré, pendant la durée de validité de celui-ci.</p>
                                            <p class="c-font-bold">A quoi servent les cookies présents sur le site internet airddm.com</p>
                                            <p>Seul l’émetteur d’un cookie est susceptible de lire ou de modifier les informations qui y sont contenues.<br/>
                                                Les cookies utilisés sur notre site airddm.com permettent d'identifier les services et rubriques que l'utilisateur a visités, et plus généralement son comportement en matière de visites. Ces informations sont utiles pour faciliter votre navigation sur notre site airddm.com, voire mieux personnaliser les contenus ou services qui apparaissent sur celui-ci.<br/>
                                                AIR DDM n’emploie les cookies ni pour recueillir vos données personnelles, ni pour communiquer ces dernières à des tiers. Les cookies que nous gérons sont utiles pour faciliter votre navigation. Ils nous permettent, notamment, de comptabiliser le nombre de terminaux accédant à l’un de nos contenus ou services, d’établir des statistiques de fréquentation, d’adapter nos contenus aux centres d’intérêt des visiteurs de notre site, etc.<br/>
                                            En cliquant sur le bouton « OK, J’EMBARQUE » du bandeau présent sur nos pages ou en continuant votre navigation sur ceux-ci, vous acceptez la mise en place de cookies sur votre terminal. Le rejet complet des fichiers cookies peut empêcher de profiter pleinement des fonctionnalités et des contenus ou services que nous vous proposons sur notre site airddm.com</p>
                                            <p>Nous listons ci-dessous les cookies de nos services principaux :</p>
                                            <p>Les cookies de mesure d’audience sont destinés à établir la volumétrie et établir des statistiques de fréquentation de notre site, des différentes rubriques ainsi que l’utilisation des services éventuellement proposés.</p>
                                            <p>La géolocalisation pourra être proposée afin de nous permettre d’obtenir des informations dites « locales » adaptées à votre position géographique.</p>
                                            <p>Les boutons de partage via les réseaux sociaux font appel aux cookies afin de suivre la navigation de leurs internautes.</p>
                                            <p>COOKIES OVH</p>
                                            <p>Notre hébergeur (OVH) pose 2 cookies pour la gestion du réseau et ne concernent pas votre expérience utilisateur.</p>
                                            <p class="c-font-bold">Vos choix concernant les cookies</p>
                                            <p>Plusieurs possibilités vous sont offertes pour gérer les cookies. Tout paramétrage que vous pouvez entreprendre sera susceptible de modifier votre navigation sur Internet et sur notre site airddm.com, ainsi que vos conditions d'accès à certains services nécessitant l'utilisation de cookies. Vous pouvez faire le choix à tout moment d'exprimer et de modifier vos souhaits en matière de cookies, par les moyens décrits ci-dessous. <br/>
                                                Les choix qui vous sont offerts par votre logiciel de navigation : <br/>
                                            Vous pouvez configurer votre logiciel de navigation de manière à ce que des cookies soient enregistrés dans votre terminal ou, au contraire, qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur. </p>
                                            <p>Vous pouvez également configurer votre logiciel de navigation de manière à ce que l'acceptation ou le refus des cookies vous soient proposés ponctuellement, avant qu'un cookie soit susceptible d'être enregistré dans votre terminal. Pour plus d'informations, consultez la rubrique "Comment exercer vos choix, selon le navigateur que vous utilisez.</p>
                                            <p>1. L’accord sur les Cookies</p>
                                            <p>L’enregistrement d’un cookie dans un terminal est subordonné à la volonté de l’utilisateur du terminal, que celui-ci peut exprimer et modifier à tout moment et gratuitement à travers les choix qui lui sont offerts par son logiciel de navigation. Si vous avez accepté, dans votre logiciel de navigation, l’enregistrement de cookies dans votre terminal, les cookies intégrés dans les pages et contenus que vous avez consultés pourront être stockés temporairement dans un espace dédié de votre terminal. Ils y seront lisibles uniquement par leur émetteur.</p>
                                            <p>2. Le refus des Cookies</p>
                                            <p>Si vous refusez l'enregistrement de cookies dans votre terminal, ou si vous supprimez ceux qui y sont enregistrés, vous ne pourrez plus systématiquement bénéficier d'un certain nombre de fonctionnalités nécessaires pour naviguer dans certains espaces de notre site. Tel serait le cas si vous tentiez d'accéder à des contenus ou services qui nécessitent de vous identifier. Tel serait également le cas lorsque nous-mêmes - ou nos prestataires - ne pourrions pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par votre terminal, ses paramètres de langue et d'affichage ou le pays depuis lequel votre terminal semble connecté à Internet. Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l'impossibilité pour nous, d'enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.</p>
                                            <p>3. Comment exercer vos choix, selon le navigateur que vous utilisez ?</p>
                                            <p>Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d'aide de votre navigateur (Firefox<sup>TM</sup>, Chrome<sup>TM</sup>, Explorer<sup>TM</sup>, Safari<sup>TM</sup>, Opera<sup>TM</sup>…).</p>
                                            <p class="c-font-bold">Que dit la loi par rapport aux cookies ?</p>
                                            <p>La réglementation prévoit que les sites internet doivent recueillir votre consentement avant le dépôt de ces cookies, vous indiquer à quoi ils servent et comment vous pouvez vous y opposer. En pratique, un message doit apparaître quand vous vous connectez au site pour la première fois pour vous indiquer comment accepter ou au contraire refuser les cookies. C’est le cas du site airddm.com</p>
                                            <p>Plus d’informations sur : <a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/" target="_blank">http://www.cnil.fr/vos-droits/vos-traces/les-cookies/</a></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>
                    </div>
                </footer>
                {% endblock %}
                <!-- END: LAYOUT/FOOTERS/FOOTER-2 -->
                <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
                <div class="c-layout-go2top">
                    <i class="icon-arrow-up"></i>
                </div>
                <!-- END: LAYOUT/FOOTERS/GO2TOP -->
                <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
                <!-- BEGIN: CORE PLUGINS -->
                <!--[if lt IE 9]>
                <script src="../assets/global/plugins/excanvas.min.js"></script>
                <![endif]-->
                <script src="{% static 'plugins/jquery.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/jquery.easing.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/reveal-animate/wow.js' %}" type="text/javascript"></script>
                <script src="{% static 'js/scripts/reveal-animate/reveal-animate.js' %}" type="text/javascript"></script>
                <!-- END: CORE PLUGINS -->
                <!-- BEGIN: LAYOUT PLUGINS -->
                <script src="{% static 'plugins/revo-slider/js/jquery.themepunch.tools.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/revo-slider/js/jquery.themepunch.revolution.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/revo-slider/js/extensions/revolution.extension.video.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/fancybox/jquery.fancybox.pack.js' %}" type="text/javascript"></script>
                <script src="{% static 'plugins/slider-for-bootstrap/js/bootstrap-slider.js' %}" type="text/javascript"></script>
                <!-- END: LAYOUT PLUGINS -->
                <!-- BEGIN: THEME SCRIPTS -->
                <script src="{% static 'js/components.js' %}" type="text/javascript"></script>
                <script src="{% static 'js/components-shop.js' %}" type="text/javascript"></script>
                <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
                <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
                {% block homemadescript %}
                <script>
                $('.row-contacts').each(function() {
                    var highestBox = 0;
                    $('.air-adresse', this).each(function() {
                        if ($(this).height() > highestBox) {
                            highestBox = $(this).height();
                        }
                    });
                    $('.air-adresse', this).height(highestBox);
                });
                $(window).load(function() {
                    $(window).trigger('resize');
                })
                $(window).load(function() {
                    $(window).trigger('resize');
                })
                </script>
                {% endblock %}
                <!-- END: THEME SCRIPTS -->
                <!-- BEGIN: PAGE SCRIPTS -->
                <script src="{% static 'js/scripts/revo-slider/slider-3.js' %}" type="text/javascript"></script>
                <!-- END: PAGE SCRIPTS -->
                <!-- END: LAYOUT/BASE/BOTTOM -->
                {% block extrajs %}
                {% endblock %}
            </body>
        </html>