{% load staticfiles i18n %}
{% url 'website:index' as index %}
<header class="c-layout-header c-layout-header-4 c-layout-header-dark-mobile c-layout-header-onepage" id="home" data-minimize-offset="80">
        <div class="c-navbar">
            <div class="container"><!-- xxx prev.container-fluid -->
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <div class="c-brand c-pull-left">
                    <a href="{% url 'website:index' %}" class="c-logo">
                        <img src="{% static 'img/layout/logos/logo-airddm.png' %}" alt="AIRDDM" class="c-desktop-logo">
                        <img src="{% static 'img/layout/logos/logo-airddm.png' %}" alt="AIRDDM" class="c-desktop-logo-inverse">
                    <img src="{% static 'img/layout/logos/logo-airddm.png' %}" alt="AIRDDM" class="c-mobile-logo"> </a>
                    {% block nav_mobil %}
                    <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    </button>
                    {% endblock %}

                </div>
                <!-- END: BRAND -->
                <!-- BEGIN: HOR NAV -->
                <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
                <!-- BEGIN: MEGA MENU -->
                {% block nav %}
                <nav class="c-mega-menu c-mega-menu-onepage c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold" data-onepage-animation-speed="700">
                    <ul class="nav navbar-nav c-theme-nav">
                        <!-- <li class="c-onepage-link c-active active">
                            <a href="#" class="c-link">Accueil</a>
                        </li> -->
                        <li class="c-onepage-link ">
                            <a href="{% if request.get_full_path != index %}{% url 'website:index' %}{% endif %}#features" class="c-link">L'agence</a>
                        </li>
                        <li class="c-onepage-link ">
                            <a href="{% if request.get_full_path != index %}{% url 'website:index' %}{% endif %}#services" class="c-link">expertises</a>
                        </li>
                        <li class="c-onepage-link">
                            <a href="{% if request.get_full_path != index %}{% url 'website:index' %}{% endif %}#techno" class="c-link">Techno</a>
                        </li>
                        <li class="c-onepage-link ">
                            <a href="{% if request.get_full_path != index %}{% url 'website:index' %}{% endif %}#portfolio" class="c-link">Cas clients</a>
                        </li>
                        <li class="c-onepage-link ">
                            <a href="{% if request.get_full_path != index %}{% url 'website:index' %}{% endif %}#news" class="c-link">Actualités</a>
                        </li>
                        <li class="c-onepage-link ">
                            <a href="{% if request.get_full_path != index %}{% url 'website:index' %}{% endif %}#contact" class="c-link">Contact</a>
                        </li>
                    </ul>
                </nav>
                {% endblock %}
                <!-- END: MEGA MENU -->
                <!-- END: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
                <!-- END: HOR NAV -->
            </div>
        </div>
    </div>
</header>