{% extends 'website/layouts/__base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block index %}{% url 'website:index' %}{%endblock%}
{% block content %}
        <div class="c-layout-page">
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-1-view">
                                <div class="c-content-blog-post-1">
                                    <div class="c-media">
                                        <img class="c-photo img-responsive center-block" src="{{article.img_illustration.url}}" alt="">
                                    </div>
                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="#">{{ article.title }}</a>
                                    </div>
                                    <div class="c-panel c-margin-b-30">
                                        <div class="c-author">
                                            <a href="">Par
                                                <span class="c-font-uppercase">{{article.author.username}}</span>
                                            </a>
                                        </div>
                                        <div class="c-date">le
                                            <span class="c-font-uppercase">{{article.pub_date|date:"l j F Y"}}</span>
                                        </div>
                                        <ul class="c-tags c-theme-ul-bg">
                                            {% for category in article.categories.all %}
                                                <li>{{category}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="c-desc">
                                        {{article.text|safe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                            <!-- <form action="#" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control c-square c-theme-border" placeholder="Search blog...">
                                    <span class="input-group-btn">
                                        <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Go!</button>
                                    </span>
                                </div>
                            </form> -->
                            <div class="c-content-ver-nav">
                                <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                    <h3 class="c-font-bold c-font-uppercase">Articles</h3>
                                    <div class="c-line-left c-theme-bg"></div>
                                </div>
                                <ul class="c-menu c-arrow-dot1 c-theme">
                                {% for article in articles %}
                                    <li>
                                        <a href="{% url 'website:article' article.id article.slug %}">{{ article.title }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                                <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                    <h3 class="c-font-bold c-font-uppercase">Categories</h3>
                                    <div class="c-line-left c-theme-bg"></div>
                                </div>
                                <ul class="c-menu c-arrow-dot1 c-theme">
                               {% for category in categorie %}
                                    <li><a href="{% url 'website:categories'  category.pk category.slug %}" style="text-transform:capitalize">{{category}}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BLOG LISTING  -->
            <!-- END: PAGE CONTENT -->
        </div>
        {% endblock %}
        {% block extrajs %}
                <script src="{% static 'js/scripts/pages/lightbox-gallery.js' %}" type="text/javascript"></script>
        {% endblock %}