{% extends 'website/layouts/__base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block extrahead %}
{% endblock %}
{% block index %}{% url 'website:index' %}{%endblock%}
{% block content %}
        <div class="c-layout-page">
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div id="filters-container" class="cbp-l-filters-text">
                        <div class="cbp-l-filters-text-sort">Voir les catégories:</div>
                        <div data-filter="*" class="cbp-filter-item"> Toutes
                            <div class="cbp-filter-counter"></div>
                        </div> /
                        {% for category in all_categorie %}
                        <div data-filter=".{{category.slug}}" class="cbp-filter-item {% if categorie == category %}cbp-filter-item-active{% endif %} "> {{category}}
                            <div class="cbp-filter-counter"></div>
                        </div> /
                        {% endfor %}
                    </div>
                    <div id="grid-container" class="cbp cbp-l-grid-agency">
                    {% for article in current_articles %}
                        <div class="cbp-item {% for category in article.categories.all %}{{category.slug}} {% endfor %}">
                            <a href="{% url 'website:article' article.id article.slug %}" >
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="{{article.img_illustration.url}}" alt=""> </div>
                                </div>
                                <div class="cbp-l-grid-agency-title">{{article.title}}</div>
                                <div class="cbp-l-grid-agency-desc">{{article.subtitle}}</div>
                            </a>
                        </div>
                    {% endfor %}
                    {% for article in articles %}
                    {% if article not in current_articles %}
                        <div class="cbp-item cbp-item-off {% for category in article.categories.all %}{{category.slug}} {% endfor %}">
                            <a href="{% url 'website:article' article.id article.slug %}" >
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="{{article.img_illustration.url}}" alt=""> </div>
                                </div>
                                <div class="cbp-l-grid-agency-title">{{article.title}}</div>
                                <div class="cbp-l-grid-agency-desc">{{article.subtitle}}</div>
                            </a>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <!-- END: PAGE CONTENT -->
        </div>

    {% endblock %}
    {% block extrajs %}
        <script type="text/javascript">
       (function($, window, document, undefined) {
    'use strict';

    // init cubeportfolio
    $('#grid-container').cubeportfolio({
        filters: '#filters-container',
        loadMore: '#loadMore-container',
        loadMoreAction: 'click',
        layoutMode: 'grid',
        defaultFilter: '.{{categorie.slug}}',
        animationType: 'slideLeft',
        gapHorizontal: 35,
        gapVertical: 15,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 1400,
            cols: 5
        }, {
            width: 1100,
            cols: 4
        }, {
            width: 800,
            cols: 3
        }, {
            width: 500,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        caption: 'zoom',
        displayType: 'lazyLoading',
        displayTypeSpeed: 100,
    });

})(jQuery, window, document);
        </script>
    {% endblock %}