{% load staticfiles %}
        <div class="cbp-l-inline">
            <div class="cbp-l-inline-left">
                <a href="{% static 'img/content/airddm-cc/MBB-revelation.jpg' %}" class="cbp-lightbox">
                    <img src="{% static 'img/content/airddm-cc/MBB-revelation.jpg' %}" alt="Dashboard">
                </a>
            </div>
            <div class="cbp-l-inline-right">
                <div class="cbp-l-inline-title">COMMENT DIGITALISER L’ANIMATION COMMERCIALE D’UNE MARQUE VERS SES DISTRIBUTEURS </div>

                <div class="cbp-l-inline-desc">
                    <p><b>Marché :</b> Aftermarket Automobile</p>
                    <p><b>Enjeux :</b> regrouper les services clients sur un site internet dans une logique de « hub », faciliter l’engagement promotionnel, industrialiser la gestion et le suivi de l’animation commerciale</p>
                    <p><b>Expérience:</b> développement d’un concept et d’une plateforme d’animation commerciale selon le profil client, nettoyage et synchronisation des bases de données clients, déploiement d’une webapp pour les forces de ventes, communication automatisée vers SAP</p>
                </div>
            </div>
        </div>