{% load staticfiles %}
        <div class="cbp-l-inline">
            <div class="cbp-l-inline-left">
                <a href="{% static 'img/content/airddm-cc/berner-image.jpg' %}" class="cbp-lightbox">
                    <img src="{% static 'img/content/airddm-cc/berner-image.jpg' %}" alt="Dashboard">
                </a>
            </div>
            <div class="cbp-l-inline-right">
                <div class="cbp-l-inline-title">COMMENT REPENSER UN PROGRAMME DE FIDELITE MULTI METIERS D’UN DISTRIBUTEUR POUR EN FAIRE UN LEVIER DE CROISSANCE</div>

                <div class="cbp-l-inline-desc">
                    <p><b>Marché :</b> Bâtiment, Automobile, Industrie</p>
                    <p><b>Enjeux :</b> trouver le modèle économique, fédérer les fonctions marketing et commerciale autour d’un nouveau projet de développement des ventes</p>
                    <p><b>Expérience :</b> stratégie de lancement, d’animation et de communication du programme, segmentation, activation en mode data-driven, pilotage et suivi</p>
                </div>
            </div>
        </div>