{% load staticfiles %}
        <div class="cbp-l-inline">
            <div class="cbp-l-inline-left">
                <a href="{% static 'img/content/airddm-cc/Tollens-image.jpg' %}" class="cbp-lightbox">
                    <img src="{% static 'img/content/airddm-cc/Tollens-image.jpg' %}" alt="Dashboard">
                </a>
            </div>
            <div class="cbp-l-inline-right">
                <div class="cbp-l-inline-title">COMMENT DIGITALISER UN PARCOURS CLIENT DANS UN RESEAU DE DISTRIBUTION PROFESSIONNEL</div>

                <div class="cbp-l-inline-desc">
                    <p><b>Marché :</b>  Distribution Peinture-Décoration</p>
                    <p><b>Enjeux :</b> En l’absence d’un CRM, améliorer la connaissance et l’intégration des nouveaux clients dans le parcours d’achat</p>
                    <p><b>Expertises:</b> analyse de données (3 années d’historique de vente), segmentation transactionnelle, mise en place d’un parcours Client avec process de traitement et gestion des flux pour assurer une communication print hebdomadaire, reporting en ligne pour les forces de ventes</p>
                </div>
            </div>
        </div>