{% load staticfiles %}
        <div class="cbp-l-inline">
            <div class="cbp-l-inline-left">
                <a href="{% static 'img/content/airddm-cc/CASEIH-revelation.jpg' %}" class="cbp-lightbox">
                    <img src="{% static 'img/content/airddm-cc/CASEIH-revelation.jpg' %}" alt="Dashboard">
                </a>
            </div>
            <div class="cbp-l-inline-right">
                <div class="cbp-l-inline-title">COMMENT DEPLOYER, EN QUELQUES SEMAINES, UNE CAMPAGNE D’INCENTIVE DANS UN RESEAU DE CONCESSIONNAIRES</div>

                <div class="cbp-l-inline-desc">
                    <p><b>Marché :</b> Machinisme agricole</p>
                    <p><b>Enjeux :</b> rapidité de mise en œuvre opérationnelle, facilitation de l’inscription des vendeurs au sein de chaque concession, simplification des déclarations de ventes et du suivi de la campagne</p>
                    <p><b>Expérience:</b> déploiement d’un site complet d’incentive personnalisé à la marque et à l’opération, comprenant notamment : un dispositif d’inscription automatisé (logique de pré-inscription de 300 participants environ – email automatique – validation), la présentation et le paramétrage de la mécanique de stimulation, l’animation par des opérations « boosters », la déclaration des ventes et l’automatisation des données pour le suivi des performances (calcul des points, classement…)</p>
                </div>
            </div>
        </div>