{% load staticfiles %}
        <div class="cbp-l-inline">
            <div class="cbp-l-inline-left">
                <a href="{% static 'img/content/airddm-cc/otokar-image.jpg' %}" class="cbp-lightbox">
                    <img src="{% static 'img/content/airddm-cc/otokar-image.jpg' %}" alt="Dashboard">
                </a>
            </div>
            <div class="cbp-l-inline-right">
                <div class="cbp-l-inline-title">COMMENT CONTRIBUER A FAIRE EVOLUER L’IMAGE D’UN CONSTRUCTEUR D’AUTOBUS ET D’AUTOCARS, AU NIVEAU EUROPEEN</div>

                <div class="cbp-l-inline-desc">
                    <p><b>Marché :</b> Constructeur autobus et autocars</p>
                    <p><b>Enjeux :</b> création et implémentation d’une nouvelle plateforme de communication pour le marché européen</p>
                    <p><b>Expérience:</b> création nouvelle signature de marque, nouveau territoire de communication visuelle, conception supports corporate et supports commerciaux multilingues, activation 360</p>
                </div>
            </div>
        </div>