{% load staticfiles %}
        <div class="cbp-l-inline">
            <div class="cbp-l-inline-left">
                <a href="{% static 'img/content/airddm-cc/mader-revelation.jpg' %}" class="cbp-lightbox">
                    <img src="{% static 'img/content/airddm-cc/mader-revelation.jpg' %}" alt="Dashboard">
                </a>
            </div>
            <div class="cbp-l-inline-right">
                <div class="cbp-l-inline-title">COMMENT DÉFINIR LA SEGMENTATION DES CLIENTS PROFESSIONNELS D’UN RÉSEAU DE DISTRIBUTION</div>

                <div class="cbp-l-inline-desc">
                    <p><b>Marché :</b> Distribution spécialisée (peintures, revêtement, outillage)</p>
                    <p><b>Enjeux :</b> définir les variables explicatives de la performance commerciale – proposer une segmentation opérationnelle des clients selon leur valeur</p>
                    <p><b>Expérience:</b> analyses de corrélation, de causalité, du cycle de vie moyen. Création de segments, croisements avec les activités, recommandation de niveaux clients</p>
                </div>
            </div>
        </div>