{% load staticfiles %}
        <div class="cbp-l-inline">
            <div class="cbp-l-inline-left">
                <a href="{% static 'img/content/airddm-cc/boutique-reevelation.jpg' %}" class="cbp-lightbox">
                    <img src="{% static 'img/content/airddm-cc/boutique-reevelation.jpg' %}" alt="Dashboard">
                </a>
            </div>
            <div class="cbp-l-inline-right">
                <div class="cbp-l-inline-title">COMMENT METTRE EN PLACE UNE E-BOUTIQUE ADAPTÉE AUX DIFFÉRENTS PROFILS DE CLIENTS PROFESSIONNELS ?</div>

                <div class="cbp-l-inline-desc">
                    <!-- <p><b>Marché :</b>  Distribution Peinture-Décoration</p> -->
                    <p><b>Enjeux :</b> renforcer l’attractivité d’une offre de récompense d’une mécanique de développement des ventes</p>
                    <p><b>Expertises:</b> sourcing des offres dynamiques et statiques, enrichissement par des services professionnels, mise à jour permanente de l’e-boutique, gestion des flux logistiques et SAV, hotline, reporting</p>
                </div>
            </div>
        </div>