{% load staticfiles %}
        <div class="cbp-l-inline">
            <div class="cbp-l-inline-left">
                <a href="{% static 'img/content/airddm-cc/auto-pro-teaser2-revelation.jpg' %}" class="cbp-lightbox">
                    <img src="{% static 'img/content/airddm-cc/auto-pro-teaser2-revelation.jpg' %}" alt="Dashboard">
                </a>
            </div>
            <div class="cbp-l-inline-right">
                <div class="cbp-l-inline-title">COMMENT UNE PLATEFORME D’ANIMATION COMMERCIALE AMELIORE LA VISION SELL-OUT ET LA CONNAISSANCE CLIENT</div>

                <div class="cbp-l-inline-desc">
                    <p><b>Marché :</b> Automotive Aftermarket</p>
                    <p><b>Enjeux :</b> identifier et historiser les clients indirects fidèles à la marque, faire le lien avec leur distributeur (vision sell-out), dynamiser la participation aux opérations promotionnelles</p>
                    <p><b>Expertise:</b> développement d’une plateforme marketing responsive, consolidation des bases de données clients issues de différents programmes d’interaction de la marque avec son marché</p>
                </div>
            </div>
        </div>