{% load staticfiles %}
        <div class="cbp-l-inline">
            <div class="cbp-l-inline-left">
                <a href="{% static 'img/content/airddm-cc/Extra-revelation.jpg' %}" class="cbp-lightbox">
                    <img src="{% static 'img/content/airddm-cc/Extra-revelation.jpg' %}" alt="Dashboard">
                </a>
            </div>
            <div class="cbp-l-inline-right">
                <div class="cbp-l-inline-title">COMMENT ANIMER UN PROGRAMME RELATIONNEL MULTIMARQUES AUTOUR D’UNE PLATEFORME MARKETING INTEGREE</div>

                <div class="cbp-l-inline-desc">
                    <p><b>Marché :</b> Automotive Aftermarket</p>
                    <p><b>Enjeux :</b> Maîtriser les contraintes liées à une coalition de marques, animer et développer le programme, capitaliser sur la connaissance client qui en découle pour améliorer l’efficacité de la stratégie relationnelle</p>
                    <p><b>Expérience:</b> définition de la stratégie d’animation du programme France et Benelux, gestion des remontées de preuves d’achat (physiques et/ ou data distributeurs), animation multi-canal, gestion de la relation avec les adhérents, reporting, gestion complète de la boutique (sourcing et mise en œuvre)</p>
                </div>
            </div>
        </div>