{% extends 'website/layouts/__base.html' %}
{% load staticfiles %}
{% block nav_mobil %}
{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
    <div class="c-layout-page">
        <section id="landing">
            <div class="c-content-box c-size-md c-bg-img-center c-no-padding" >
                <div class="c-ytb-container" data-video="https://www.youtube.com/embed/A8bXuNvlIy0?rel=0&amp;showinfo=0&autoplay=1">
                </div>
                <div class="container ">
                    <div class="c-content-box c-size-sm text-center">
                        <div class="center-block">
                            <a href="/" class="btn c-theme-btn c-btn-uppercase btn-md c-btn-bold c-btn-square">> Visitez notre site</a>
                        </div>
                    </div>
                <p class="c-font-oswald c-font-regular c-font-14">
                    2017 © AIR DDM Data-Driven Marketing
                </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block homemadescript %}
<script>
    $('div.c-ytb-container').click(function(){
    var video = '<iframe src="'+ $(this).attr('data-video') +' "  frameborder="0" allowfullscreen="1"></iframe>';
    $(this).replaceWith(video); });
</script>
{% endblock %}