/*
===
  FONT
===
*/

@media screen and (min-width: 1440px) {
    body {
        font-size: 17px;
    }
}
label {
    font-size: 1em;
    font-weight: 300;
    color: #5c6873;
}
/*
===
  logo
===
*/

.c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand {
    margin: 11px 0 0 0 !important;
}
/*
===
  COLORS
  #2f353b >#4a4f54
===
*/

.c-bg-dark {
    background-color: #4a4f54 !important;
}
.c-border-right-dark {
    border-right-color: #4a4f54 !important;
}
.c-layout-footer.c-layout-footer-1 .c-postfooter {
    background: #4a4f54;
}
.c-border-left-dark{border-left-color: #4a4f54 !important;;}
/*
===
  DEFAULT CUSTOM
===
*/

.c-layout-header.c-layout-header-4 {
    background: none;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
}
.imagecontour {
    padding: 10px;
    border: solid 1px #EFEFEF;
    background-color: #FFFFFF;
}
.effect2 {
    position: relative;
}
.effect2:before,
.effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}
.effect2:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.c-layout-go2top {
    z-index: 1;
}
/*
===
  MAIN NAV
===
*/

.air-lang {
    font-weight: normal !important;
    position: relative;
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.air-lang--fr::after {
    content: "|";
    position: absolute;
    right: 0;
}
/*
===
   HOME SLIDER
===
*/
.c-layout-revo-slider{
    overflow-x: hidden;
    overflow-x: hidden;
 }
/*
===
  HOME EXPERTISES - ICONS
===
*/

.c-font-revs p {
    font-size: 1.4em;
    line-height: 1.114em;
    margin: 0;
}
@media (min-width: 495px) and (max-width: 767px) {
    .c-font-revs {
        font-size: 1.6em !important
    }
}
@media (min-width: 768px) {
    .c-font-revs {
        font-size: 2em
    }
}
/*
===
  HOME EXPERTISES - ICONS
===
*/

.c-content-line-icon.c-theme {
    background-image: url(../img/content/airddm-pictos/airddm-dark-blue.png);
    /*background-image: url(../img/content/airddm-pictos/airddm-light-blue.png);*/
}
.c-content-feature-2.c-option-2:hover .c-icon-wrapper > .c-content-line-icon {
    background-image: url(../img/content/airddm-pictos/airddm-dark-blue.png);
}
.c-theme-bg-parent-hover:hover .c-theme-bg-on-parent-hover {
    background: transparent !important;
}
.c-content-line-icon.c-icon-conseil {
    background-position: 0px 426px;
}
.c-content-line-icon.c-icon-data {
    background-position: 0px 275px;
}
.c-content-line-icon.c-icon-plateforme {
    background-position: 0px 627px;
}
.c-content-line-icon.c-icon-activation {
    background-position: 0px 350px;
}
.c-content-line-icon.c-icon-contenu {
    background-position: 0px 200px;
}
.c-content-line-icon.c-icon-dotation {
    background-position: 0px 552px;
}
/* reset */

.c-content-feature-2.c-option-2 .c-icon-wrapper {
    background: none;
    padding: 10px;
    border: 0;
}
.c-content-feature-2 .c-icon-wrapper {
    width: 70px;
    height: 72px;
    padding: 0;
}
.c-content-feature-2.c-option-2 .c-icon-wrapper > .c-content-line-icon {
    width: 50px;
    height: 52px;
    float: left;
}
/*
===
  CAS CLIENTS
===
*/
.cbp-l-caption-desc {
    margin-top: 1em;
}
/* Hover cas clients */

.cbp-caption-zoom .cbp-caption-activeWrap {
    /* background-color: rgba(47, 53, 59, 0.9); */

    background-color: rgba(74, 79, 84, 0.9);
}
.cbp-popup-content .cbp-l-inline-title {
    width: 90%;
}
/*
===
  HOME NEWS
===
*/

.c-content-overlay{
    background-color: rgba(255,255,255,0.5);
    height: 220px;
    display: table-cell;
    vertical-align: middle;
}
.c-font-thin{
    height: 60px
}
.cbp-caption{
    max-height: 190px;
    height:190px;
    vertical-align: middle;
    display: table-cell;
}
/*
===
  HOME CONTACT - BACKGROUND VIDEO
===
*/

#contact {
    position: relative;
    overflow: hidden;
}
#bgvid {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -999;
    overflow: hidden;
    /* background:url(../images/background_teasing.jpg) no-repeat; */

    background-size: cover;
}
video {
    display: block;
}
.video-container {
    position: relative;
}
.video-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(47, 53, 59, 0.8); */

    background-color: rgba(74, 79, 84, 0.8);
    position: absolute;
}
.air-adresse {
    display: block;
    margin-top: 1em;
}
.air-tel {
    display: block;
    margin-top: 0.5em;
}
.arrow-full-width {
    width: 95%;
}
/*
===
  HOME AGENCE
===
*/

.c-content-feature-13 .c-feature-13-container.block-left {
    padding: 40px 40px 40px 80px;
}
.c-content-feature-13 .c-feature-13-container.block-right {
    padding: 40px 80px 40px 40px;
}
.cbp-caption-overlayBottomPush .cbp-caption-activeWrap {
    bottom: auto;
    height: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
    #services .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}
@media (min-width: 992px) {
    #services .col-md-6:nth-child(3n+1) {
        clear: left;
    }
}
.btn.btn-return {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-size: 14px;
    padding: 6px 12px;
}
.btn.btn-return:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.very-small {
    font-size: 65%;
}
.c-content-feedback-1.c-option-1 {
    padding-top: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .c-content-contact-1 > .row > div {
        width: 50%;
    }
}
@media (max-width: 991px) {
    .c-content-contact-1 > .row > div {
        padding: 15px;
    }
    .c-content-feedback-1 > .row > div > .c-contact {
        background-color: #f7f7f7 !important;
        padding-bottom: 5px;
        margin-top: 40px;
    }
    #contact a.btn {
        white-space: initial;
    }
}
#services li {
    list-style-type: none;
    text-indent: -10px;
}
#services li:before {
    content: "- ";
    /* on affiche une chaîne de caractère */
}
#services div.div-liste {
    padding-left: 57px;
}
.c-layout-footer-4.c-bg-footer-9 {
    background: url(../img/content/backgrounds/bg-feedback-1.jpg) center center no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 991px) {
    .c-layout-footer-4.c-bg-footer-9 {
        background: url(../img/content/backgrounds/rtl-bg-feedback-1.jpg) center center no-repeat;
        background-size: cover;
    }
}
.c-bg-parallax-techno {
    background: url(../img/content/backgrounds/techno.jpg) center center no-repeat fixed;
    background-size: cover;
}
.c-bg-parallax-techno-height {
    height: 300px;
}
.c-bg-parallax-techno .c-feature-13-container {
    padding: 40px;
}
.c-bg-parallax-techno .c-feature-13-container h3 {
    font-size: 25px;
}
.c-bg-parallax-techno .c-feature-13-container h2 {
    font-size: 50px;
    padding-top: 15px;
}
.padding-techno {
    padding: 0 50px;
}
.padding-techno h3.description-techno {
    margin-top: 40px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.col-sm-6 .c-content-feature-2 {
    cursor: default
}
.c-bg-opacity-1 {
    background-color: rgba(255, 255, 255, 0.7) !important;
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .animated {
        /*CSS transitions*/

        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/

        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/

        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}
@media screen and (max-width: 767px) {
    footer .col-sm-4 {
        text-align: center;
    }
    .c-feature-13-container.block-left,
    .c-feature-13-container.block-right,
    .c-feature-13-container {
        padding: 0 !important
    }
}
.socicon-btn {
    background: #1e2226;
    color: #54606b;
    width: 38px;
    height: 38px;
    border: none;
    font-size: 18px;
}
.tp-bullets.round > .tp-bullet.selected {
    background: #5ec5ed !important
}

/* LANDING PAGE FOR EMAIL WITH YOUTUBE VIDEO  */

.c-ytb-container {
    height: 75vh;
    background: url(../img/content/airddm-bg/bg-landing.jpg) center 40% no-repeat;
    background-size: 100%;
}

#landing iframe {
    width: 100%;
    height: 75vh;
    border: none !important;
    border-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block
}
#landing .ytbImg {
    width: 100%;
    height: auto;
}



/*BACK TO TOP BUTTON*/
.c-layout-go2top{
  bottom: 180px;
}
#features .c-content-box .container{width:90%}
#features .c-content-box .c-bg-parallax.hostess{
    background-image: url(../img/content/airddm-bg/divider-nuage.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    width: 60%;
}
#features .c-content-box .c-bg-parallax.seats{
    background-image: url(../img/content/airddm-bg/divider-nuage.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    width: 59%;
}
#features .c-content-box .c-bg-parallax.plane{
    background-image: url(../img/content/airddm-bg/divider-nuage.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    width: 60%;
}
#features .c-content-feature-4 .c-feature-content{width:38%}
@media (max-width: 991px){
    #features .c-content-feature-4 .c-feature-content,
    #features .c-content-box .c-bg-parallax.hostess,
    #features .c-content-box .c-bg-parallax.seats,
    #features .c-content-box .c-bg-parallax.plane {
        width:100%
    }
}
/*
===
  CUSTOM FILE UPLOAD
===
*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 0 0 0;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#loading_image {
    visibility: hidden;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: 0 auto;
    position:absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.5) url("../img/content/airddm-pictos/loading.gif") no-repeat scroll center;
    background-size: 100px;
    }