{% extends 'website/layouts/__base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
    <div class="c-layout-page">
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-3 -->
        <section class="c-layout-revo-slider c-layout-revo-slider-3 ">
            <div class="tp-banner-container tp-fullscreen">
                <div id="slider1" class="tp-banner rev_slider" data-version="5.0">
                    <ul>
                        <!-- BEGIN: SLIDE #1 -->
                        <li data-transition="crossfade"  data-fstransition="crossfade" data-slotamount="1" data-masterspeed="100" data-delay="9200" data-thumb="{% static 'img/layout/sliders/revo-slider/base/slide-1.png' %}">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{% static 'img/layout/sliders/revo-slider/base/slide-1.png' %}" alt="" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" >
                            <!-- BACKGROUND VIDEO LAYER -->
                            <div class="rs-background-video-layer fulllscreenvideo tp-videolayer" data-transform_in=”opacity:0;s:300;e:Power2.easeInOut;” data-transform_out=”opacity:0;s:300;s:300;” data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="{% static 'media/video/slide-1.mp4' %}" data-videopreload="auto" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                            <!-- LAYER NR. 1 -->
                            <div class="c-center c-font-sbold c-font-revs c-font-white tp-resizeme tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-40" data-speed="800" data-start="850" data-transform_in="x:0;y:0;z:0;rX:0.5;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:600;e:Power2.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rX:0.5;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:600;e:Power2.easeInOut;" > <p>NOUS SOMMES UNE AGENCE HYBRIDE</p>
                                <p>COMMUNICATION / DATA DEDIEE AU B2B</p>
                            </div>
                        </li>
                        <!--END -->
                        <!--BEGIN: SLIDE #2 -->
                        <li  data-transition="crossfade"  data-fstransition="crossfade" data-slotamount="1" data-masterspeed="100" data-delay="9000" data-thumb="{% static 'img/layout/sliders/revo-slider/base/slide-2.png' %}">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{% static 'img/layout/sliders/revo-slider/base/slide-2.png' %}" alt="" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" >
                            <!-- BACKGROUND VIDEO LAYER -->
                            <div class="rs-background-video-layer fulllscreenvideo tp-videolayer" data-transform_in=”opacity:0;s:300;e:Power2.easeInOut;” data-transform_out=”opacity:0;s:300;s:300;” data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="{% static 'media/video/slide-2.mp4' %}" data-videopreload="auto" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                            <!-- LAYER NR. 1 -->
                            <div class="c-center c-font-sbold c-font-revs c-font-white tp-resizeme tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-40" data-speed="800" data-start="850" data-transform_in="x:0;y:0;z:0;rX:0.5;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:600;e:Power2.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rX:0.5;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:600;e:Power2.easeInOut;" > <p>NOUS ACTIVONS LES MARQUES EN
                                METTANT</p>
                                <p>LA DATA AU COEUR DES DISPOSITIFS</p>
                            </div>
                        </li>
                        <!--END -->
                        <!--BEGIN: SLIDE #3 -->
                        <li data-transition="crossfade"  data-fstransition="crossfade" data-slotamount="1" data-masterspeed="100" data-delay="9000" data-thumb="{% static 'img/layout/sliders/revo-slider/base/slide-3.png' %}">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{% static 'img/layout/sliders/revo-slider/base/slide-3.png' %}" alt="" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" >
                            <!-- BACKGROUND VIDEO LAYER -->
                            <div class="rs-background-video-layer fulllscreenvideo tp-videolayer" data-transform_in=”opacity:0;s:300;e:Power2.easeInOut;” data-transform_out=”opacity:0;s:300;s:300;” data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="{% static 'media/video/slide-3.mp4' %}" data-videopreload="auto" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                            <!-- LAYER NR. 1 -->
                            <div class="c-center c-font-sbold c-font-revs c-font-white tp-resizeme tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-40" data-speed="800" data-start="850" data-transform_in="x:0;y:0;z:0;rX:0.5;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:600;e:Power2.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rX:0.5;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:600;e:Power2.easeInOut;" > <p>NOUS ALLIONS LA FORCE
                                CREATIVE D’UNE AGENCE</p>
                                <p>A LA PUISSANCE D’INTERACTION</p>
                                <p>DE NOS PLATEFORMES MARKETING </p>
                            </div>
                        </li>
                        <!--END -->
                        <!--BEGIN: SLIDE #4 -->
                        <li data-transition="crossfade"  data-fstransition="crossfade" data-slotamount="1" data-masterspeed="100" data-delay="9000" data-thumb="{% static 'img/layout/sliders/revo-slider/base/slide-4.png' %}">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{% static 'img/layout/sliders/revo-slider/base/slide-4.png' %}" alt="" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" >
                            <!-- BACKGROUND VIDEO LAYER -->
                            <div class="rs-background-video-layer fulllscreenvideo tp-videolayer" data-transform_in=”opacity:0;s:300;e:Power2.easeInOut;” data-transform_out=”opacity:0;s:300;s:300;” data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="{% static 'media/video/slide-4.mp4' %}" data-videopreload="auto" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                            <!-- LAYER NR. 1 -->
                            <div class="c-center c-font-sbold c-font-revs c-font-white tp-resizeme tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-40" data-speed="800" data-start="850" data-transform_in="x:0;y:0;z:0;rX:0.5;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:600;e:Power2.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rX:0.5;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:600;e:Power2.easeInOut;" > <p>NOTRE AMBITION : AIDER VOTRE MARQUE</p>
                                <p>A DEVENIR « CUSTOMER SPECIFIC » </p>
                            </div>
                        </li>
                        <!--END -->
                    </ul>
                </div>
            </div>
        </section>
        <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-3 -->
       <section id="features">
            <!-- BEGIN: CONTENT/FEATURES/FEATURES-4-7 -->
            <!-- BEGIN: FEATURES 4.7 -->
            <div class="c-content-box c-size-md c-bg-white">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">L'AGENCE</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class=" c-size-md c-no-padding c-bg-white">
                    <div class="c-content-feature-4">
                        <div class="c-bg-parallax c-feature-bg c-content-right c-arrow c-border-left-white hostess"></div>
                        <div class="c-content-area c-content-right"></div>
                        <div class="container ">
                            <div class="c-feature-content c-left">
                                <div class="c-content-v-center">
                                    <div class="c-wrapper">
                                        <div class="c-body">
                                            <div class="c-content-title-1 wow animate fadeInDown">
                                                <h1 class="c-right c-title c-font-uppercase">NOUS SOMMES HYBRIDES</h1>
                                                <div class="c-line-right c-theme-bg"></div>
                                            </div>
                                            <div class="c-content">
                                                <p class="c-margin-b-30 c-right wow animate fadeInDown">A l’heure de la transformation numérique, la maîtrise des technologies et la capacité à exploiter les datas deviennent, pour les agences, aussi incontournables que leurs savoir-faire en conseil et en création.</p>
                                                <p class="c-margin-b-30 c-right wow animate fadeInDown">C’est de cette conviction qu’AIR DDM est née, en avril 2013.</p>
                                                <p class="c-margin-b-30 c-right wow animate fadeInDown">En croisant les cultures métiers de la communication, de l’IT et de la data et après avoir appris aux différents talents de cet écosystème à travailler ensemble, notre modèle d’agence propose aux marques de les aider à mettre en œuvre de nouvelles stratégies de marketing client.</p>
                                                <p class="c-margin-b-30 c-right wow animate fadeInDown">Un marketing plus précis, plus automatisé, plus individualisé, où la créativité reste essentielle et tient compte des singularités de chaque client pour mieux l’engager.</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" c-size-md c-no-padding c-bg-dark">
                    <div class="c-content-feature-4">
                        <div class="c-bg-parallax c-feature-bg c-content-left c-arrow c-border-right-dark seats" ></div>
                        <div class="c-content-area c-content-right"></div>
                        <div class="container">
                            <div class="c-feature-content c-right">
                                <div class="c-content-v-center">
                                    <div class="c-wrapper">
                                        <div class="c-body">
                                             <div class="c-content-title-1 wow animate fadeInDown">
                                                <h1 class="c-left c-font-white c-title c-font-uppercase">LE DATA-DRIVEN MARKETING<br>AU CŒUR DE NOS EXPERTISES</h1>
                                                <div class="c-line-left c-theme-bg"></div>
                                            </div>
                                            <div class="c-content">
                                                <p class="c-margin-b-30 c-left c-font-white wow animate fadeInDown">Hyper-connectés, sur-sollicités, les clients de l’ère numérique sont décomplexés et en comparaison permanente. Leur exigence à l’égard des marques est plus forte, leur fidélité plus volatile.</p>
                                                <p class="c-margin-b-30 c-left c-font-white wow animate fadeInDown">Chez AIR DDM, nous pensons que les marques doivent s’attacher à mieux (re)connaître leurs clients et tisser des liens personnalisés avec eux, pour se différencier et créer la préférence.</p>
                                                <p class="c-margin-b-30 c-left c-font-white wow animate fadeInDown">Tout l’enjeu est de savoir exploiter le capital d’informations clients dont les entreprises disposent dans leurs systèmes, ainsi que toutes les traces que laissent ces clients, lorsqu’ils interagissent sur les différents canaux.</p>
                                                <p class="c-margin-b-30 c-left c-font-white wow animate fadeInDown">AIR DDM, qui dispose de sa propre plateforme logicielle, accompagne les marques dans la connaissance client et le déploiement d’actions marketing pilotées par la donnée (data-driven marketing) basées sur le profil, le comportement et le potentiel de chaque client.</p>
                                                <!--<button class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold wow animate fadeIn">En savoir plus</button>
                                                <button class="btn btn-lg c-btn-green c-btn-square c-btn-bold wow animate fadeInDown" data-wow-delay="0.2s">PURCHASE</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" c-size-md c-no-padding c-bg-white">
                    <div class="c-content-feature-4">
                        <div class="c-bg-parallax c-feature-bg c-content-right c-arrow c-border-left-white plane"></div>
                        <div class="c-content-area c-content-right"></div>
                        <div class="container">
                            <div class="c-feature-content c-left">
                                <div class="c-content-v-center">
                                    <div class="c-wrapper">
                                        <div class="c-body">
                                            <div class="c-content-title-1 wow animate fadeInDown">
                                                <h1 class="c-right  c-title c-font-uppercase">LE B2B,<br>NOTRE TERRAIN DE PREDILECTION</h1>
                                                <div class="c-line-right c-theme-bg"></div>
                                            </div>
                                            <div class="c-content">
                                                <p class="c-margin-b-30 c-right wow animate fadeInDown">Marges dépréciées, impact du numérique sur le parcours client, multiplicité des canaux, volatilité des clients, réduction des budgets marketing…Dans les marchés B2B, les marques sont également confrontées à de nombreux défis.</p>
                                                <p class="c-margin-b-30 c-right wow animate fadeInDown">La bonne nouvelle, c’est qu’avec des comportements d’achats liés à un métier plus simples à modéliser, des professionnels capables de s’engager dans la durée lorsqu’ils sont reconnus, le data marketing offre aux marques B2B, de nouvelles opportunités pour mieux interagir avec leurs clients.</p>
                                                <p class="c-margin-b-30 c-right wow animate fadeInDown">Chez AIR DDM, ces convictions sont enrichies d’un capital-expérience acquis pendant des années, par ses équipes conseil, aux côtés de grandes marques de l’industrie et de la distribution professionnelle.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="services">
            <!-- BEGIN: CONTENT/MISC/SERVICES-3 -->
            <div class="c-content-box c-size-md c-bg-white">
                <div class="container">
                    <div class="c-content-feature-2-grid">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-center c-font-bold">EXPERTISES</h3>
                            <div class="c-line-center"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
                                    <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                        <div class="c-content-line-icon c-theme c-icon-conseil"></div>
                                    </div>
                                    <h3 class="c-font-uppercase c-title">Conseil</h3>
                                    <p>Accompagnement des marques dans la mise en œuvre de leur stratégie de communication et marketing, à l’heure où la prolifération des canaux et des datas révolutionne la façon d’interagir avec les clients. </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
                                    <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                        <div class="c-content-line-icon c-theme c-icon-data"></div>
                                    </div>
                                    <h3 class="c-font-uppercase c-title">Data</h3>
                                    <p>Audit, traitement, analyse, synchronisation des datas clients issues des systèmes d’information de l’entreprise : transactionnelles, comportementales (off et on line), etc.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
                                    <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                        <div class="c-content-line-icon c-theme c-icon-plateforme"></div>
                                    </div>
                                    <h3 class="c-font-uppercase c-title">Plateformes Marketing</h3>
                                    <div class="div-liste">
                                        <ul>
                                            <li>
                                                gestion et animation de programmes de marketing relationnel
                                            </li>
                                            <li>
                                                programmes d’animation de réseaux
                                            </li>
                                            <li>
                                                marketing automation
                                            </li>
                                            <li>
                                                calcul d’offres « customer specific »
                                            </li>
                                            <li>
                                                reporting / dataviz
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2 c-option-2 ">
                                    <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                        <div class="c-content-line-icon c-theme c-icon-activation"></div>
                                    </div>
                                    <h3 class="c-font-uppercase c-title">Activation Marketing / communication</h3>
                                    <p>Analyse / définition du parcours Client <br/>
                                        Conception et création des messages et des supports <br/>
                                        Définition des offres par cible <br/>
                                        Diffusion et automatisation des campagnes<br/>
                                        Animation In / out store
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2 c-option-2 ">
                                    <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                        <div class="c-content-line-icon c-theme c-icon-contenu"></div>
                                    </div>
                                    <h3 class="c-font-uppercase c-title">Création et production de contenu</h3>
                                    <p>Supports commerciaux et techniques<br/>
                                        Sites internet, blog, mini-sites événementiels…<br/>
                                        Vidéos<br/>
                                        Animations techniques en 3D / Motion-design<br/>
                                        Contenus personnalisés, basés sur le profil client
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2 c-option-2 ">
                                    <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                        <div class="c-content-line-icon c-theme c-icon-dotation"></div>
                                    </div>
                                    <h3 class="c-font-uppercase c-title">Services en motivation et dotation</h3>
                                    <p>Conseil dotations<br/>
                                        Sourcing achats<br/>
                                        Boutiques statiques et dynamiques <br/>
                                        Front et Back office<br/>
                                        Logistique <br/>
                                        Centre relation Client<br/>
                                        Gestion SAV<br/>
                                        Service conciergerie
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/MISC/SERVICES-3 -->
        </section>
        <section id="techno">
            <!-- BEGIN: CONTENT/FEATURES/FEATURES-2 -->
            <div class="c-content-box c-size-xg c-bg-parallax c-bg-parallax-techno c-bg-parallax-techno-height" >
            </div>
            <div class="c-content-box c-size-md c-bg-white">
                <div class="container">
                    <div class="c-content-feature-2-grid">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-center c-font-bold">TECHNO</h3>
                            <div class="c-line-center"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-6 padding-techno">
                                <div class="c-content-feature-13 c-bg-parallax c-bg-parallax-techno c-bg-img-center">
                                    <div class="c-feature-13-container ">
                                        <h3 class="c-font-white c-center c-font-bold c-font-uppercase">
                                        QUELQUES CHIFFRES :
                                        </h3>
                                        <h2 class="c-font-white c-center c-font-bold c-font-uppercase">
                                        10
                                        </h2>
                                        <p class="c-font-white c-center">
                                            plateformes marketing <br>
                                            opérationnelles sur 3 pays
                                        </p>
                                        <h2 class="c-font-white c-center c-font-bold c-font-uppercase">
                                        200.000
                                        </h2>
                                        <p class="c-font-white c-center">
                                            clients professionnels <br>
                                            analysés en base
                                        </p>
                                        <h2 class="c-font-white c-center c-font-bold c-font-uppercase">
                                        50.000
                                        </h2>
                                        <p class="c-font-white c-center">
                                            clients professionnels <br>
                                            régulièrement animés
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-6 padding-techno">
                                <p>
                                AIR DDM dispose de sa propre plateforme logicielle intégrée, proposée en mode Saas. </p>
                                <p>
                                    Celle-ci permet, notamment, d’industrialiser le traitement régulier des datas, le calcul d’offres personnalisées et leur diffusion à grande échelle, ainsi que la mesure de la performance des actions menées.
                                </p>
                                <p>
                                    Elle répond, par ailleurs, à tous les besoins spécifiques aux dispositifs de marketing client déployés par l’agence :
                                </p>
                                <ul>
                                    <li>
                                        programmes relationnels (boutiques en ligne, base adhérents, traitement de preuves d’achat, interface imprimeurs/routeurs, reporting etc.).
                                    </li>
                                    <li>
                                        parcours clients
                                    </li>
                                    <li>
                                        marketing automation
                                    </li>
                                    <li>
                                        campagnes en multicanal…
                                    </li>
                                </ul>
                                <p>
                                    AIR DDM a conçu et mis en place une dizaine de plateformes d’animation marketing et commerciale pour ses clients.
                                </p>
                                <p class="c-font-bold">Les forces de notre plateforme :</p>
                                <ul>
                                    <li>Compatibilité avec tous les systèmes internes (ERP, CRM…)
                                        <li>Rapidité de développement</li>
                                        <li>Évolutivité</li>
                                        <li>Richesse des fonctionnalités</li>
                                        <li>Maintenance aisée</li>
                                        <li>Qualité du code</li>
                                    </ul>
                                    <!--  <h5 class="c-font-uppercase c-title">Quelques chiffres :</h5>
                                    <ul>
                                        <li>10 plateformes marketing opérationnelles sur 3 pays</li>
                                        <li>200 000 clients professionnels analysés en base</li>
                                        <li>50 000 clients professionnels régulièrement animés </li>
                                    </ul> -->
                                    <p class="c-font-bold">Hébergement et sécurité des données :</p>
                                    <p>AIR DDM héberge les données dans les data centers AWS Europe (Francfort) pour une meilleure agilité, une élasticité instantanée et un niveau de sécurité élevé, conforme aux normes internationales telles que l’ISO 27001.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="portfolio">
                <!-- BEGIN: CONTENT/PORTFOLIO/LATEST-WORKS-3 -->
                <div class="c-content-box c-size-md">
                    <div class="container">
                        <div class="c-content-title-1">
                            <h3 class="c-center c-font-uppercase c-font-bold">Cas clients</h3>
                            <div class="c-line-center c-theme-bg"></div>
                            <h1 class="c-center c-title c-font-uppercase">AIR DDM accompagne de grandes marques industrielles et <br>de distribution de biens et de services, principalement en B2B.</h1>
                            <br>
                        </div>
                        <div class="cbp-panel">
                            <div id="grid-container" class="cbp">
                                <div class="cbp-item ">
                                    <a href="{% url 'website:client4' %}" class="cbp-caption cbp-singlePageInline" data-title="PROGRAMME RELATIONNEL MULTIMARQUES ">
                                        <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/content/airddm-cc/Extra-teaser1.jpg' %}" alt=""> </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignLeft">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-title">COMMENT ANIMER UN PROGRAMME RELATIONNEL MULTIMARQUES AUTOUR D’UNE PLATEFORME MARKETING INTEGREE</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cbp-item ">
                                    <a href="{% url 'website:client2' %}" class="cbp-caption cbp-singlePageInline" data-title="DIGITALISER L’ANIMATION COMMERCIALE">
                                        <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/content/airddm-cc/MBB-teaser.jpg' %}" alt=""> </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignLeft">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-title">COMMENT DIGITALISER L’ANIMATION COMMERCIALE D’UNE MARQUE VERS SES DISTRIBUTEURS </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cbp-item ">
                                    <a href="{% url 'website:client6' %}" class="cbp-caption cbp-singlePageInline" data-title="PROGRAMME DE FIDELITE MULTI METIERS">
                                        <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/content/airddm-cc/Berner-Teaser.jpg' %}" alt=""> </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignLeft">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-title">COMMENT REPENSER UN PROGRAMME DE FIDELITE MULTI METIERS D’UN DISTRIBUTEUR POUR EN FAIRE UN LEVIER DE CROISSANCE</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cbp-item ">
                                    <a href="{% url 'website:client1' %}" class="cbp-caption cbp-singlePageInline" data-title="AMELIORE LA VISION SELL-OUT ET LA CONNAISSANCE CLIENT ">
                                        <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/content/airddm-cc/auto-pro-teaser2.jpg' %}" alt=""> </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignLeft">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-title">COMMENT UNE PLATEFORME D’ANIMATION COMMERCIALE AMELIORE LA VISION SELL-OUT ET LA CONNAISSANCE CLIENT</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cbp-item ">
                                    <a href="{% url 'website:client5' %}" class="cbp-caption cbp-singlePageInline" data-title="EVOLUER L’IMAGE D’UN CONSTRUCTEUR D’AUTOBUS ET D’AUTOCARS">
                                        <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/content/airddm-cc/otokar-teaser.jpg' %}" alt=""> </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignLeft">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-title">COMMENT CONTRIBUER A FAIRE EVOLUER L’IMAGE D’UN CONSTRUCTEUR D’AUTOBUS ET D’AUTOCARS, AU NIVEAU EUROPEEN</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cbp-item ">
                                    <a href="{% url 'website:client3' %}" class="cbp-caption cbp-singlePageInline" data-title="CAMPAGNE D’INCENTIVE">
                                        <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/content/airddm-cc/CASEIH-teaser.jpg' %}" alt=""> </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignLeft">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-title">COMMENT DEPLOYER, EN QUELQUES SEMAINES, UNE CAMPAGNE D’INCENTIVE DANS UN RESEAU DE CONCESSIONNAIRES</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cbp-item ">
                                    <a href="{% url 'website:client7' %}" class="cbp-caption cbp-singlePageInline" data-title="SEGMENTATION DES CLIENTS PROFESSIONNELS">
                                        <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/content/airddm-cc/mader-teaser.jpg' %}" alt=""> </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignLeft">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-title">COMMENT DÉFINIR LA SEGMENTATION DES CLIENTS PROFESSIONNELS D’UN RÉSEAU DE DISTRIBUTION</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cbp-item ">
                                    <a href="{% url 'website:client8' %}" class="cbp-caption cbp-singlePageInline" data-title="DIGITALISER UN PARCOURS CLIENT">
                                        <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/content/airddm-cc/Tollens-teaser.jpg' %}" alt=""> </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignLeft">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-title">COMMENT DIGITALISER UN PARCOURS CLIENT DANS UN RESEAU DE DISTRIBUTION PROFESSIONNEL</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cbp-item ">
                                    <a href="{% url 'website:client9' %}" class="cbp-caption cbp-singlePageInline" data-title="E-BOUTIQUE ADAPTÉE">
                                        <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/content/airddm-cc/boutique-teaser2.jpg' %}" alt=""> </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignLeft">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-title">COMMENT METTRE EN PLACE UNE E-BOUTIQUE ADAPTÉE AUX DIFFÉRENTS PROFILS DE CLIENTS PROFESSIONNELS ?</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: CONTENT/PORTFOLIO/LATEST-WORKS-3 -->
            </section>
            <section id="news">
                <div class="c-content-box c-size-md c-bg-grey-1">
                    <div class="container">
                        <!-- Begin: Testimonals 1 component -->
                        <div class="c-content-blog-post-card-1-slider" data-slider="owl">
                            <!-- Begin: Title 1 component -->
                            <div class="c-content-title-1">
                                <h3 class="c-center c-font-uppercase c-font-bold">Dernières Actualités</h3>
                                <div class="c-line-center c-theme-bg"></div>
                            </div>
                            <!-- End-->
                            <!-- Begin: Owlcarousel -->
                            <div class="owl-carousel owl-theme c-theme c-owl-nav-center" data-items="3" data-slide-speed="6000" data-transition="600" ata-rtl="false">
                                {% for article in object_list %}
                                    <div class="item">
                                        <div class="c-content-blog-post-card-1 c-option-2">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">
                                                        <a href="{% url 'website:article' article.id article.slug %}">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                        <a href="{{article.img_illustration.url}}" data-lightbox="fancybox" >
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            <img class="c-overlay-object img-responsive" src="{{article.get_or_create_thumbnail}}" alt="" style="max-height:220px"> </div>
                                            <div class="c-body">
                                                <div class="c-title c-font-uppercase c-font-bold">
                                                    <a href="{% url 'website:article' article.id article.slug %}">{{article.title}}</a>
                                                </div>
                                                <div class="c-author"> Par
                                                    <!-- <a href="#"> -->
                                                        <span class="c-font-uppercase">{{article.author.username}}</span>
                                                    <!-- </a>--> le
                                                    <span class="c-font-capitalize">{{article.pub_date|date:"l j F Y"}}</span>
                                                </div>
                                                <div class="c-panel">
                                                    <ul class="c-tags c-theme-ul-bg">
                                                        {% for category in article.categories.all %}
                                                        <li>{{category}}</li>
                                                        {% endfor %}
                                                    </ul>
                                                    <!--<div class="c-comments">
                                                        <a href="#">
                                                        <i class="icon-speech"></i> 30 comments</a>
                                                    </div>-->
                                                </div>
                                                <p class="c-font-thin">{{article.subtitle}}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End-->
                    </div>
                </div>
            </section>
            <section id="contact">
                <!-- BEGIN: CONTENT/CONTACT/FEEDBACK-1 -->
                <div class="c-content-feedback-1 c-option-1">
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">Contact</h3>
                        <div class="c-line-center c-theme-bg"></div>
                        <br>
                    </div>
                    <div class="c-content-box c-size-md c-no-padding c-layout-footer-4 c-bg-footer-9">
                        <div class="c-content-feedback-1 c-option-1">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-4 col-lg-offset-1 vcenter ">
                                    <div class="c-container c-bg-white c-reset c-bg-opacity-1 " >
                                        <div class="c-content-title-1 ">
                                            <h4 class="c-font-uppercase c-font-bold c-font-22">Nous Rejoindre</h4>
                                            <div class="c-line-left"></div>
                                            <p class="c-font-lowercase">Vous cherchez un emploi ou un stage ? Votre profil peut correspondre aux besoins présents ou futurs d’AIR DDM. N’hésitez pas à nous laisser votre CV et vos coordonnées, nous nous engageons à vous répondre dans les meilleurs délais.</p>
                                        </div>
                                        <form id="cv_form"  method="post" enctype="multipart/form-data" action="{% url 'website:index' %}" class="c-margin-t-20">
                                            {% csrf_token %}
                                            <!-- LOOP into FORM for display candidacy form -->
                                            {% for field in form %}
                                            <div class="form-group">
                                                {% if field.label == "Your curriculum vitae *" %}
                                                <input id="uploadFile" class="form-control c-square c-theme input-lg" placeholder="Votre document au format PDF, DOC, PNG, JPG" disabled="disabled" />
                                                <div class="fileUpload btn c-bg-white c-theme-font c-theme-border center c-btn-square"><span>Parcourir</span>
                                                {% render_field field|add_error_class:"c-border-red" class="form-control c-square c-theme input-lg upload" placeholder=field.label required="true" %}
                                                </div>
                                                {% else %}
                                                {% render_field field|add_error_class:"c-border-red" class="form-control c-square c-theme input-lg" placeholder=field.label required="true" %}
                                                {% endif %}
                                                <div class="c-font-red">{{ field.errors.as_text }}</div>
                                            </div>
                                            {% endfor %}
                                            <!-- ENDFOR -->
                                            <input type="submit" class="btn c-theme-btn center c-btn-uppercase btn-lg c-btn-bold c-btn-square c-margin-t-20" value="Votre candidature">
                                        </form>
                                    </div>
                                </div>
                                <div id="loading_image"></div>
                                <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-4 col-lg-offset-1 vcenter  ">
                                    <div class="c-contact c-reset">
                                        <div class="c-content-title-1 ">
                                            <h4 class="c-font-uppercase c-font-bold c-font-22 ">Nous Contacter</h4>
                                            <div class="c-line-left"></div>
                                            <p class="c-font-lowercase">Vous désirez en savoir plus sur AIR DDM, ses expertises et son approche dans l’accompagnement de ses clients ?</p>
                                        </div>
                                        <form id="contact_form"  method="post" data-validate-contact="{% url 'website:contact' %}">
                                            {% csrf_token %}
                                            <!-- LOOP into FIRST FORM for display contact form -->
                                            {% for field in first_form %}
                                            <div class="form-group">
                                                {% if field.label == "Your role *" %}
                                                <label for="{{first_form.role.id_for_label}}">{{field.label}}</label>
                                                {% elif field.label == "Your message *" %}
                                                <label for="{{first_form.role.id_for_label}}">{{field.label}}</label>
                                                {% endif %}
                                                {% render_field field|add_error_class:"c-border-red" class="form-control c-square c-theme input-lg" placeholder=field.label required="true" %}
                                                <div class="c-font-red" id="{{field.id_for_label}}__errors"></div>
                                            </div>
                                            {% endfor %}
                                            <!-- ENDFOR -->
                                            <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">> Envoyer</button>
                                        </form>
                                        <div>
                                            <p class="very-small">AIR DDM Data-driven Marketing collecte vos données parce qu’elles sont nécessaires au traitement de votre demande. Les informations que vous nous transmettez sont réservées à l’usage exclusif de notre agence et ne seront en aucun cas communiquées à des tiers.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: CONTENT/CONTACT/FEEDBACK-2 -->
            </section>
        </div>
    {% endblock %}

{% block extrajs %}
<script src="{% static 'js/scripts/pages/lightbox-gallery.js' %}" type="text/javascript"></script>
<script>
// Anchor to #contact if CV form is invalid
{% if form.errors %}
$(function() {
    $(document).scrollTop( $("#contact").offset().top );
});
{% endif %}
// GET input filename and display it in faked disabled input
$("#id_curriculum").change(function(){
    txt = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
    $('#uploadFile').attr("placeholder", txt);
});
// Show modal if CV form is valid
{% if messages %}
    {% for message in messages %}
    if ('{{message}}' == 'candidature validée') {
        $('#cv_success').modal('show');
    }
    {% endfor %}
{% endif %}
// GET Contact Form inputs, send them in AJAX and request reponse to show valid or invalid answers
$('#contact_form').on('submit', function(form_submit) {
    $('#loading_image').css('visibility', 'visible');
    var form = $(this);
    $.ajax({
        url: form.attr("data-validate-contact"),
        data: form.serialize(),
        method: 'POST',
        dataType: 'json',
        // IF response is valid,do some stuff
        success: function (data) {
          if (data) {
            // IF response is valid, reset form and show success modal
            $("#contact_form")[0].reset();
            $('#loading_image').hide();
            $('#form_success').modal();
          }else {
            // ELSE IF response is valid but without data, show error modal
             $('#form_error').modal(val);
          }
        },
        // IF response is invalid, RED_ify forms and show errors text
        error: function (data) {
          if (data) {
            $.each(data.responseJSON, function(i, val){
                $("input[name$="+i+"]").addClass('c-border-red');
                $("textarea[name$="+i+"]").addClass('c-border-red');
                $.each(val, function(j, txt){
                    $('#id_'+i+'__errors').text(txt);
                })
            });
          }
        }
    });
    return false;
});
// CUSTOM OWL CAROUSEL settings for improve speed and responsive design
$('.owl-carousel').owlCarousel({
    loop:false,
    autoplay:true,
    responsive:{
        0:{
            items:1
        },
        768:{
            items:2
        },
        1024:{
            items:3
        },
        2560:{
            items:4
        }
    }
})
 $('div .c-body .c-title.c-font-uppercase.c-font-bold').each(function() {
    var highestBox = 0;
    if ($('.c-title').height() > highestBox) {
        highestBox = $(this).height();
    }
    $('.c-title').height(highestBox);
});

</script>
{% endblock %}