{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }} | AIR DDM {% endblock %}
{% block extrahead %}
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">AIR DDM administration</a></h1>
{% endblock %}